<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h1><%= current_user.email %></h1>

<div>
  <% if policy(@restaurant).edit? %>
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <% end %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete if policy(@restaurant).destroy? %>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
